<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
	<div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/uswds/img/logo-img.png" alt="">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading"><strong>COLA Notifs</strong></h3>
	    <p>Page editors: Dane Emmerson and Shifra Schectman</p>
	    <p>Page last updated: April 15, 2020</p>
          </div>
	</div>
	<div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <h3 class="usa-footer__contact-heading"><strong>Contact us</strong></h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
		<a href="mailto:webmaster@colanotifs.com">Report an issue</a>
              </div>
            </div>
          </address>
	</div>
      </div>
    </div>
  </div> 
</footer>

{{#each script}}
<script src="/js/{{this}}" type="text/javascript"></script>
{{/each}}
{{#each deferScript}}
<script src="/js/{{this}}" type="text/javascript" defer></script>
{{/each}}

<script src="/uswds/js/uswds.min.js"></script>
