<title>{{title}}</title>
<link rel="canonical" href="https://..."/>
<meta name="description" content="Cost of living allowance rates tracker" />
<meta name="keywords" content="COLA Cost of living alowance rates" />
<meta name="author" content="Dane Emmerson, Shifra Schectman" />
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="google-site-verification" content="2g6vtdlOYq3QPzdWmK6B9BoD1Wp4F16RrzwnMz1gnog" />
<meta name="yandex-verification" content="c34f8e9f744a4e41" />
<meta name="msvalidate.01" content="94A7F1CBD0EBA2A69D150E3BCCACF081" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165768629-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165768629-1');
</script>


{{#each style}}
<link rel="stylesheet" type="text/css" href="/css/{{this}}"></link>
{{/each}}
<link rel="stylesheet" href="/uswds/css/styles.css" />
<link rel="icon" type="image/png" href="/img/favicon.png"/>
