<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<!--
    <section class="usa-banner" aria-label="Official government website">
      <div class="usa-accordion">
	<header class="usa-banner__header">
	  <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img class="usa-banner__header-flag" src="/uswds/img/us_flag_small.png" alt="U.S. flag">
            </div>
            <div class="grid-col-fill tablet:grid-col-auto">
              <p class="usa-banner__header-text">An official website of the United States government</p>
              <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
            </div>
            <button class="usa-accordion__button usa-banner__button"
		    aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
	  </div>
	</header>
	<div class="usa-banner__content usa-accordion__content" id="gov-banner">
	  <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="/uswds/img/icon-dot-gov.svg" alt="Dot gov">
              <div class="usa-media-block__body">
		<p>
		  <strong>The .gov means it’s official.</strong>
		  <br>
		  Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
		</p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="/uswds/img/icon-https.svg" alt="Https">
              <div class="usa-media-block__body">
		<p>
		  <strong>The site is secure.</strong>
		  <br>
		  The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
		</p>
              </div>
            </div>
	  </div>
	</div>
      </div>
    </section>
    -->
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
	  
	<em class="usa-logo__text">
	<a href="/" title="Home" aria-label="Home">COLA Notifications</a></em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="/uswds/img/close.svg" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
	{{#if login}}
	<li class="usa-nav__primary-item usa-current">
	  <a class="usa-nav__link" href="/login"><span>Login</span></a>
	</li>
	{{else}}
	<li class="usa-nav__primary-item">
	  <a class="usa-nav__link" href="/login"><span>Login</span></a>
	</li>
	{{/if}}
	{{#if createAccount}}
	<li class="usa-nav__primary-item usa-current">
	  <a class="usa-nav__link" href="/create_account"><span>Sign up</span></a>
	</li>
	{{else}}
	<li class="usa-nav__primary-item">
	  <a class="usa-nav__link" href="/create_account"><span>Sign up</span></a>
	</li>
	{{/if}}
	{{#if about}}
	<li class="usa-nav__primary-item usa-current">
	  <a class="usa-nav__link" href="/about"><span>About</span></a>
	</li>
	{{else}}
	<li class="usa-nav__primary-item">
	  <a class="usa-nav__link" href="/about"><span>About</span></a>
	</li>
	{{/if}}
      </ul>
    </nav>
  </div>
</header>
