<!DOCTYPE html>
<html>
   <body>
   '<a href="http://localhost:10000/resetpassword//{{id}}//{{token}}">Reset password</a>'
   If you did not request this password change, please feel free to ignore this email.
  </body>
</html>

