<div id="mainContainer" class="">
  <div id="mainContent" class="container d-flex justify-content-around mt-5">
    <h1>Page does not exist</h1>
    <span id="background404">404</span>
  </div>
  <br><br>
  <div class="container d-flex justify-content-around mt-4">
    <ul class="inline listOfLinks">
      <li class="inline">
	<a class="" href="/">Home</a>
      </li>
      <li class="inline">
	<a class="" href="/subscriptions">Subscriptions</a>
      </li>
      <li class="inline">
	<a class="" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
