<div class="container">
  <div class="d-flex">
    <h1 class="h2 border-bottom px-2 pt-4 pb-2"> My Account </h1>
  </div>
  <!-- main center screen -->
  <div class="row">
    <div class="col">
      <div class="row justify-content-around ml-2 mr-2">
	<div id="alertSuccess" class="mt-2 usa-alert usa-alert--success changePasswordAlert max-width-900 width-100" style="display:none">
	  <div class="usa-alert__body">
	    <h2 class="h3 usa-alert__heading">Password updated!</h2>
	    <p class="usa-alert__text">Your password has been successfully updated</p>
	  </div>
	</div>
	<div id="alertError" class="mt-2 usa-alert usa-alert--error changePasswordAlert max-width-900 width-100" style="display:none">
	  <div class="usa-alert__body">
	    <h2 class="h3 usa-alert__heading">Error updating password</h2>
	    <p class="usa-alert__text">We are unable to change your password at this time.</p>
	    <p class="usa-alert__text">Please <a class="usa-link" href="/account">refresh</a> page and try again.</p>
	  </div>
	</div>
	<div id="passwordFormContainer" class="mb-4">
	  <h2 class="h4 ml-4"><b>Change Password</b></h2>
	  <div id="alertInfo" class="usa-alert usa-alert--info changePasswordAlert">
	    <div class="usa-alert__body">
	      <h3 class="usa-alert__heading">Password requirements</h3>
	      <p class="usa-alert__text">Must contain the following:</p>
	      <p class="usa-alert__text lowercaseReq val">A lowercase letter</p>
	      <p class="usa-alert__text uppercaseReq val">An uppercase letter</p>
	      <p class="usa-alert__text numberReq val">A number</p>
	      <p class="usa-alert__text specialReq val">A nonletter character (!@#$%^&*.?)</p>
	      <p class="usa-alert__text minCharReq val">8+ characters</p>
	    </div>
	  </div>
	  <div id="alertWarning" class="usa-alert usa-alert--warning changePasswordAlert"
	       style="display:none">
	    <div class="usa-alert__body">
	      <h3 class="usa-alert__heading">Unable to update password</h3>
	      <p class="usa-alert__text">Password must contain the following:</p>
	      <p class="usa-alert__text lowercaseReq val">A lowercase letter</p>
	      <p class="usa-alert__text uppercaseReq val">An uppercase letter</p>
	      <p class="usa-alert__text numberReq val">A number</p>
	      <p class="usa-alert__text specialReq val">A nonletter character (!@#$%^&*.?)</p>
	      <p class="usa-alert__text minCharReq val">8+ characters</p>
	    </div>
	  </div>
	  

	  
	  <form id="changePasswordForm" class="usa-form">
	    <!-- 1. old password -->
	    <div class="form-group">
	      <label for="oldPassword" class="usa-label mt-2 mr-2">Old password</label>
	      <span class="usa-error-message passwordError" id="oldPasswordError" role="alert"
		    style="display:none"></span>
	      <input id="oldPassword" type="password" class="usa-input" required>
	    </div>
	    <!-- 2. new password -->
	    <div class="form-group">
	      <label for="newPassword" class="usa-label mt-2 mr-2">New password</label>
 	      <span class="usa-error-message passwordError" id="newPasswordError" role="alert"
		    style="display:none"></span>
	      <input id="newPassword" type="password" class="usa-input" oninput="validPassword()" required>
	    </div>
	    <!-- 3. new password re-enter -->
	    <div class="form-group">
	      <label for="newPasswordRe" class="usa-label mt-2 mr-2">Re-enter new password</label>
	      <span class="usa-error-message passwordError" id="newPasswordReError" role="alert"
		    style="display:none"></span>
	      <input id="newPasswordRe" type="password" class="usa-input" required>
	      <span class="">
		<button type="button" class="btn btn-link sm mr-4" id="showPassword">Show password</button>
	      </span>
	    </div>
	    <!-- 4. submit... -->
	    <div class="" id="submitBtnDiv">
	      <button type="submit" id="submitNewPassword"
		      class="usa-button btn btn-sm">Update</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
