<h1>This is only for testing GET script and making manipulating results easy to view</h1>
<h2>Remove after finished</h2>
<button id="GET_cola_rates">GET cola rates</button>
<button id="UPDATE_cola_rates">Run UPDATE script</button>