<div class="container gridRows">
  {{#if loggedIn}}
  <div class="container">
    <div class="d-flex">
      <h1 class="h2 border-bottom px-2 pt-4 pb-2">Create account</h1>
    </div>
    <div id="alertContainer" class="row justify-content-around mx-4">
      <div class="usa-alert usa-alert--warning max-width-900 width-90 mt-4">
	<div class="usa-alert__body">
	  <h2 class="h3 usa-alert__heading">Error</h2>
	  <p class="usa-alert__text">
	    You are currently logged in as {{email}}. You must first <a href="/logout?redirect=create_account">logout</a> to create a new account.
	  </p>
	</div>
      </div>
    </div>
  </div>
  {{else}}
  <div></div>
  <div class="row justify-content-around my-5">    
    <div id="formOuterContainer" class="">
      <div id="formInnerContainer" class="shadow-1 px-2 pt-1 pb-2">
	<div class="text-center">
	  <h1 class="h3">Create account</h1>
	</div>
	<div class="mx-2">
	  <form method="POST" action="/create_account">
	    <div class="form-group">
	      <label for="email" class="usa-label"><strong>Email</strong></label>
	      <input type="email" class="usa-input" id="email" name="username">
	    </div>
	    <div class="form-group">
	      <label for="pwd" class="usa-label"><strong>Password</strong></label>
	      <input type="password" class="usa-input " id="pwd" name="password">
	    </div>
	    <div class="form-group">
	      <label for="pwdMatch" class="usa-label"><strong>Re-enter password</strong></label>
	      <input type="password" class="usa-input " id="pwdMatch" name="pwdMatch">
	      <span class="">
		<button class="btn btn-link sm mr-4" id="showPassword">Show password</button>
		
	      </span>
	    </div>
	    
	    <div class="form-group">
	      <div class="row align-items-end">
		<button type="submit" class="usa-button ml-md-4 ml-2">Create account</button>
		<span class="mt-2 ml-3 ml-md-1 sm">Have an account?
		  <a type="link" class="" href="/login">Login</a>
		</span>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
      <br>
    </div>
  </div>
    <div></div>
  {{/if}}
</div>
