<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top" style="display:none">
    <a title="Return to top" href="#">Return to top</a>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
	<div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
	    <a title="Home" href="/">
              <img class="usa-footer__logo-img" src="/img/logo.png" alt="">
	    </a>
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading"><strong>COLA Notifications</strong></h3>
	    <p>Created by: <a title="Email Dane Emmerson" href="mailto:dcemmerson@gmail.com">Dane Emmerson</a> and <a title="Email Shifra Schectman" href="mailto:shif.shectman@gmail.com">Shifra Schectman</a></p>
	    <p>Page last updated: May 19, 2020</p>
	    {{#if isAdmin}}
	    <p>Admin: See all <a href="/userinfo">user info</a></p>
	    {{/if}}
          </div>
	</div>
	<div class="usa-footer__contact-links mobile-lg:grid-col-6">
	  <a class="usa-link-generic" href="https://github.com/dcemmerson/COLA_Project">
	    <span>
	      <span title="Github" class="usa-link-github usa-social_link">
		<span class="usa-social_link__text">GitHub</span>
	      </span>
	  </a>
          <h3 class="usa-footer__contact-heading"><strong>Contact us</strong></h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
		<a title="COLA@govapps.us" href="mailto:cola@govapps.us">COLA@govapps.us </a>
              </div>
            </div>
          </address>
	</div>
      </div>
    </div>
  </div> 
</footer>

{{#each script}}
<script src="/js/{{this}}" type="text/javascript"></script>
{{/each}}
{{#each deferScript}}
<script src="/js/{{this}}" type="text/javascript" defer></script>
{{/each}}

<script src="/uswds/js/uswds.min.js"></script>
