<main class="mt-5" id="main-content">
  <section class="usa-hero" id="usa-hero-cust" aria-label="Introduction">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">COLA rates:</span>Stay notified
      </h1><p>Sign up to receive email notifications when COLA rates change for posts you select.</p><a class="usa-button" href="/create_account">Sign up</a>
    </div>
  </div>
  </section>

  <br><br>
  
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">We notify you when COLA rates change</h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <p>Create an account. Choose which posts to be notified about when cost of living adjustment (COLA) rates change. Receive emails when these rates change.</p>
	<p>Our system monitors COLA rates found at <a href="https://aoprals.state.gov/Web920/cola.asp">aoprals.state.gov</a> daily. Upon COLA rates changing to a post to which you are subscribed, we will notify you via email within 24 hours.</p>
      </div>
    </div>
  </section>
  
  <br><br>
  
  <section class="usa-graphic-list usa-section usa-section--dark">
    <div class="grid-container">
      <div class="usa-graphic-list__row grid-row grid-gap">
	<div class="usa-media-block tablet:grid-col mt-4">
          <img class="usa-media-block__img"  src="/img/circle-blue-warm-60v-1.png" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">Create account</h2>
            <p>Get started by  <a href="/create_account">creating an account</a>.</p>
	    <p>Already signed up? <a href="/login">Log in</a>.</p>
          </div>
	</div>
	<div class="usa-media-block tablet:grid-col mt-4">
          <img class="usa-media-block__img"  src="/img/circle-blue-warm-60v-2.png" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">Subscribe to posts</h2>
            <p>Once logged in, you will be able to subscribe to posts that you want to be notified when COLA rates are adjusted. When subscribing to a post, you may include a template file which we will update and attach to email notifications.</p>
	    <p>For more information on templates, see <a href="/FAQ">FAQ</a></p>
          </div>
	</div>
      </div>
      <div class="usa-graphic-list__row grid-row grid-gap">
	<div class="usa-media-block tablet:grid-col">
          <img class="usa-media-block__img"  src="/img/circle-blue-warm-60v-3.png" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">Receive notifications</h2>
            <p>When COLA rates change for a post to which you are subscribed, we will notify you via email within 24 hours. We will update your template with the previous and new COLA rates and attach this to the email.</p>
          </div>
	</div>

	<div class="usa-media-block tablet:grid-col">
	  <!--          <img class="usa-media-block__img"  src="/img/circle-124-4.png" alt="Alt text">
			<div class="usa-media-block__body">
			  <h2 class="usa-graphic-list__heading">Could also have 2 or 6.</h2>
			  <p>In addition to your goal, find out your users’ goals. What do they want to know or do that supports your mission? Use these headings to show those.</p>
			</div>
			-->
	</div>
      </div>
    </div>
  </section>
</main>
