<div class="container mb-2">
  <div class="d-flex">
    <h1 class=" border-bottom h2 px-2 pt-4 pb-2">Reset Password</h1>
  </div>
  <!-- main center screen -->
  <div class="row">
    <div class="col">
      <!-- main center screen -->
      {{#if validToken}}
      <div class="row justify-content-around">
	<div id="alertSuccess" class=" mt-2 usa-alert usa-alert--success max-width-900 width-100"
	     style="display:none">
	  <div class="usa-alert__body">
	    <h2 class="h3 usa-alert__heading">Password updated!</h2>
	    <p class="usa-alert__text">Your password has been successfully updated</p>
	  </div>
	</div>
	<div id="passwordFormContainer" class="mb-5">
	  <div id="alertInfo" class="usa-alert usa-alert--info changePasswordAlert">
	    <div class="usa-alert__body">
	      <h2 class="h3 usa-alert__heading">Password requirements</h2>
	      <p class="usa-alert__text">Must contain the following:</p>
	      <p class="usa-alert__text lowercaseReq val">A lowercase letter</p>
	      <p class="usa-alert__text uppercaseReq val">An uppercase letter</p>
	      <p class="usa-alert__text numberReq val">A number</p>
	      <p class="usa-alert__text specialReq val">A nonletter character (!@#$%^&*.?)</p>
	      <p class="usa-alert__text minCharReq val">8+ characters</p>
	    </div>
	  </div>

	  <div id="alertWarning" class="usa-alert usa-alert--warning changePasswordAlert"
	       style="display:none">
	    <div class="usa-alert__body">
	      <h2 class="h3 usa-alert__heading">Unable to update password</h2>
	      <p class="usa-alert__text">Password must contain the following:</p>
	      <p class="usa-alert__text lowercaseReq val">A lowercase letter</p>
	      <p class="usa-alert__text uppercaseReq val">An uppercase letter</p>
	      <p class="usa-alert__text numberReq val">A number</p>
	      <p class="usa-alert__text specialReq val">A nonletter character (!@#$%^&*.?)</p>
	      <p class="usa-alert__text minCharReq val">8+ characters</p>
	    </div>
	  </div>
	  
	  <div id="alertError" class="usa-alert usa-alert--error changePasswordAlert"
	       style="display:none">
	    <div class="usa-alert__body">
	      <h2 class="h3 usa-alert__heading">Error updating password</h2>
	      <p class="usa-alert__text">We are unable to change your password at this time.</p>
	      <p class="usa-alert__text">Please <a class="usa-link" href="/account">refresh</a> page and try again.</p>
	    </div>
	  </div>
	  
	  <form id="changePasswordForm" class="usa-form">
	    <!-- 1. hidden id -->
	    <div class="form-group">
	      <input type="hidden" id="token" name="token" value="{{token}}">
	      <input type="hidden" id="userId" name="userId" value="{{userId}}">
	    </div>
	    
	    <!-- 2. new password -->
	    <div class="form-group">
	      <label for="newPassword" class="usa-label mt-2 mr-2">New password</label>
 	      <span class="usa-error-message passwordError" id="newPasswordError" role="alert"
		    style="display:none"></span>
	      <input id="newPassword" type="password" class="usa-input" oninput="validPassword()" required>
	    </div>
	    <!-- 3. new password re-enter -->
	    <div class="form-group">
	      <label for="newPasswordRe" class="usa-label mt-2 mr-2">Re-enter new password</label>
	      <span class="usa-error-message passwordError" id="newPasswordReError" role="alert"
		    style="display:none"></span>
	      <input id="newPasswordRe" type="password" class="usa-input" required>
	    </div>
	    <!-- 4. submit... -->
	    <div class="" id="submitBtnDiv">
	      <button type="submit" id="submitNewPassword"
		      class="usa-button btn btn-sm">Update</button>
	    </div>
	  </form>
	</div>
      </div>

      {{else if invalidToken}}
      <div class="row justify-content-around mb-4">
	<div id="" class="mb-4 ml-2 mt-2 max-width-90">
	  <div id="" class="usa-alert usa-alert--warning changePasswordAlert">
	    <div class="usa-alert__body">
	      <h2 class="h3 usa-alert__heading">Invalid Password Reset Request</h2>
	      <p class="usa-alert__text">It appears you may have reached this page inadvertently. The password reset request is either invalid or expired.</p>
	      <p class="usa-alert__text">If you are attempting to recover your password, create <a class="usa-link" href="/reset">new request</a>.</p>
	    </div>
	  </div>
	</div>
      </div>
      <br><br>
      {{/if}}
    </div>
  </div>
</div>

