
<html>
<body>
<div>
<h1>
                    Password Reset
        </h1>
         {{{error}}}
      </div>
    <form method="POST" action="/reset">
	<label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
    <button type="resetpwd" class="btn btn-default">Reset Password?</button>
	</form>
  </body>
</html>
