
<html>
<body>
 <div id="content-main" class="content-main" role="main">
          <div class="container block-content text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>
                    Password Reset
        </h1>
        <p>
          A message has been sent to you by email with instructions on how to reset your password.
        </p>
              </div>
    </div>
  </div>
      </div>
    
      </div>
  </body>
</html>