
<html>
<body>
<div>
         {{{error}}}
      </div>
    <form method="POST" action="/resetpwd">
	<label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
	<button type="resetpwd" class="btn btn-default">Reset Password?</button>
	</form>
  </body>
</html>