 /* Style all input fields */
input {
    
    width: 100%;
    max-width: 500px;

}


#changePasswordForm {
    max-width: 26rem;
}
.changePasswordAlert {
    max-width: 28rem;
}
#passwordFormContainer {
    padding: 1rem;
    width: 100%;
    max-width: 525px;
    border: 1px solid #f6f6f6;
    border-radius: 6px;
}
