.modal-dialog {
    max-width: 1000px;
    width: 95%;
    height: 95%;
}
.modal-content {
    height: 95%
}
.modal-body {
    overflow: auto;
}
.light-border {
    border: 1px solid #E0E0E0;
}
#projectSection h1 {
    color: #dfe1e2;
}
#projectSection {
    background-color: #162e51;
    color: #f0f0f0;
    background-image: url(/img/hero_cust.png);
    background-position: center;
}
#faqSection {

}
/*
.projectSection a:visited{
    color: #a9aeb1 !important;
}
.projectSection a:hover{
    color: #f0f0f0 !important;
}
*/
