
.tableCover {
    border-radius: 3px;
    position: absolute;
    background-color: rgba(200, 200, 200, 0.9);
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.minimizeElement {
    position: relative;
    animation: minimizeElement 1s 1;
    animation-fill-mode: forwards;
}
@keyframes minimizeElement {
    from {
	width: 100%;
	height: 100%;
    }
    to {
	width: 1000%;
	height: 0%;
    }
}
@keyframes slideCoverRemove {
    from {
	width: 100%;
	height: 100%;
    }
    to {
	width: 0%;
	height: 100%;
    }
}
@keyframes slideCoverOver {
    from {
	width: 0%;
	height: 100%;
    }

    to {
	width: 100%;
	height: 100%;
    }
}
th {
    position: sticky;
    top: 0;
    border-bottom: none !important;
    border-top: none !important;
    background: linear-gradient(rgba(222, 226, 230, 0.97) 0%,
				rgba(222, 226, 230, 0.97) 2%,
				rgba(253, 253, 253, 0.97) 3%,
				rgba(253, 253, 253, 0.97) 97%,
				rgba(222, 226, 230, 0.97) 97%,
				rgba(222, 226, 230, 0.97) 100%);
}
table {
    border: none !important;
}

#lowerContentArea {
    background: linear-gradient(#f0f0f0, #ffffff, #ffffff);
}
#addSubscriptionsContainer #subscriptionContainer {
    background: #fdfdfd;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #dfe1e2;
    border: 1px solid #dfe1e2;
}

#addSubscriptionsContainer #addPostForm {
    width: 100% !important;
    max-width: 30rem;
}
#viewSubscriptionsContainer {
    background: #fdfdfd;
    max-width: 100vw;
}
#tableContainer {
    position: relative;
    border: 1px solid #dfe1e2;
    box-shadow: 5px 5px 5px #dfe1e2;
    background-color: #fdfdfd;
}
#viewSubscriptionsContainer #tableContainer table {
    border: 1px solid #dfe1e2;
}
#currentSubscriptions {
    background-color: rgba(253, 253, 253, 1);
}
#subscriptionsContainer {
    overflow: auto;
    min-height: 150px;
    max-height: 60vh;
}

#subscriptionFormContainer {
    max-width: 700px;
}
.unsubscribeAlert {
    width: 100%;
}
#unsubscribeAlertBlank {
    visibility: hidden;
}
.invalid::after {
    position: relative;
    content: " - template must be doc/docx";
    left: 0.25rem;
    display: inline-block;
}

.btn-clear {
    background-color: rgba(255,255,255,0);
    border: none;
}
.btn-minus-tiny {
    max-width: 2.5rem;
    min-width: 1.9rem;
}
#uploadTemplate {
    border: none !important;
}
.dismiss-alert {
    position: absolute;
    right: 0px;
    top: 0px;
}
.dismiss-alert::before {
    position: relative;
    left: -0.25rem;
    top: 0rem;
    margin-left: 0.25rem;
    background-image: url(/uswds/img/close-gray-90-alt.svg), linear-gradient(transparent,transparent);
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;

}
.dismiss-alert:hover::before {
    background-image: url(/uswds/img/close-blue-30-alt.svg), linear-gradient(transparent,transparent);
}

.modal-dialog {
    max-width: 1000px;
    width: 95%;
    height: 95%;
}
.modal-content {
    height: 95%
}
.modal-body {
    overflow: auto;
}
.light-border {
    border: 1px solid #E0E0E0;
}
.trashCan {
    content: url(/img/trash-alt.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.trashCanSecondary {
    content: url(/img/trash-alt--secondary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.trashCan:hover {
    position: relative;
    content: url(/img/trash-alt--danger.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.downloadSubscription {
    content: url(/img/download.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.downloadSubscriptionError {
    content: url(/img/download--danger.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.downloadSubscriptionSuccess {
    content: url(/img/download--success.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.downloadSubscriptionSecondary {
    content: url(/img/download--secondary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.downloadSubscription:hover {
    position: relative;
    content: url(/img/download--primary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.email {
    content: url(/img/envelope.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.emailSuccess {
    content: url(/img/envelope--success.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.emailSecondary {
    content: url(/img/envelope--secondary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.emailError {
    content: url(/img/envelope--danger.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.email:hover {
    position: relative;
    content: url(/img/envelope--primary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.preview {
    content: url(/img/file-alt.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.previewSecondary {
    content: url(/img/file-alt--secondary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}
.preview:hover {
    position: relative;
    content: url(/img/file-alt--primary.png);
    width: 0.85rem;
    height: 0.85rem;
    repeat: no-repeat;
    position: center;
}

.td {
    vertical-align: middle !important;
}
td td {
    padding: 0rem !important;
    border: none !important;
}
td td button {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}
.tdButtons {
    padding: 0.25rem !important;
}
