#addSubscriptionMessageDiv {
}
.errorMessage {
    color: red;
}
.successMessage {
    color: green;
}
#subscriptionsContainer {
    overflow: auto;
    min-height: 200px;
}
#subscriptionsOuterContainer {
    max-width: 1000px;
}
