#addSubscriptionMessageDiv {
}
.errorMessage {
    color: red;
}
.successMessage {
    color: green;
}
#subscriptionsContainer {
    overflow: auto;
    min-height: 200px;
}
#subscriptionsOuterContainer {
    max-width: 1000px;
}
#subscriptionFormContainer {
    max-width: 700px;
}
.invalid::after {
    position: relative;
    content: " - template must be doc/docx";
    left: 0.25rem;
    display: inline-block;
}
