#addSubscriptionsContainer {
    //    background: linear-gradient(color("blue-cool-40"), color("blue-cool-40"), color("base-dark"));

    #subscriptionContainer {
	background: rgba(248,248,248, 0.95);
	border-radius: 3px;
	box-shadow: 5px 5px 5px color("base");
    }
    #addPostForm {
	width: 100% !important;
	max-width: 30rem;
//	color: #f0f0f0;
    }
}

#viewSubscriptionsContainer {
    //    background: linear-gradient(#f8f8f8, color("base-lightest"));
    background: linear-gradient(color("base-lightest"), color("white"), color("white"));
    #tableContainer {
//	background: color("base");
//	background: linear-gradient( #4b596d, color("primary-darker"));
//	color: color("base-lightest");
/*	h2 {
	    color: color("base-lighter");
	}
	a {
	    color: color("base-light");
	}
	a:hover{
	    color: color("primary");
	}
*/
	table {
	    border: 1px solid color("base-lighter");
	}
	tbody tr:nth-child(even){
	    background: rgba(255,255,255,0.8);
	}
	tbody tr:nth-child(odd){
	    background: rgba(255,255,255,0.9);
	}
	thead tr{
	    background: rgba(255, 255, 255, 0.65);
	}
    }
}


#subscriptionsContainer {
    overflow: auto;
    min-height: 200px;
}

#subscriptionFormContainer {
    max-width: 700px;
}
.unsubscribeAlert {
    width: 100%;
}
.invalid::after {
    position: relative;
    content: " - template must be doc/docx";
    left: 0.25rem;
    display: inline-block;
}

.btn-clear {
    background-color: rgba(255,255,255,0);
    border: none;
}
.btn-minus-tiny {
    max-width: 2.5rem;
    min-width: 1.9rem;
}
#uploadTemplate {
    border: none !important;
}
.dismiss-alert {
    position: absolute;
    right: 0px;
    top: 0px;
}
.dismiss-alert::before {
    position: relative;
    left: -0.25rem;
    top: 0rem;
    margin-left: 0.25rem;
    background-image: url(/uswds/img/close-gray-90-alt.svg), linear-gradient(transparent,transparent);
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;

}
.dismiss-alert:hover::before {
    background-image: url(/uswds/img/close-blue-30-alt.svg), linear-gradient(transparent,transparent);
}

.modal-dialog {
    max-width: 1000px;
    width: 95%;
    height: 95%;
}
.modal-content {
    height: 95%
}
.modal-body {
    overflow: auto;
}
.light-border {
    border: 1px solid #E0E0E0;
}
